* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    width: 100%;
    background: #f2f2f2;
}

#wrapper {
    display: grid;
    justify-content: center;
    align-content: center;
    margin-top: 35px;
    
}

.box {
    width: 380px;
    margin: 10px 5px;
    padding: 0 50px 0 50px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 40px auto 30px auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.2;
    text-align: center;
    color: #444444;
}

#icons {
    display: block;
    font-size: 60px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 20px;
}

.passmail {
    position: relative;
}

label {
    display: block;
    padding: 0 3px;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    bottom: 28px;
    color: #999999;
    pointer-events: none;
    transition: .3s ease-out;
}

input[type="text"], input[type="password"] {
    width: 100%;
    height: 45px;
    padding: 0 5px;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.2;
    border: none;
    border-bottom: 2px solid #adadad;
    color: #2d3436;
}

.borda {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: -2px;
    left: -2px;
    pointer-events: none;
}

.borda::before {
    content: "";
    display: block;
    position: absolute;
    left: 2px;
    bottom: 18px;
    width: 0;
    height: 2px;
    background: linear-gradient(to left, #21d4fd, #b721ff);
    transition: all 0.4s;
}

input[type="text"]:focus + .borda::before,
input[type="password"]:focus + .borda::before {
    width: 100%;
}

input[type="text"]:focus + .borda + label,
input[type="text"]:valid + .borda + label,
input[type="password"]:focus + .borda + label,
input[type="password"]:valid + .borda + label  {
    transform: translateY(-22px) ;
    font-size: 13px;
}

.efeito {
    display: block;
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border-radius: 25px;
    margin: 28px auto;
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.2;
    color: #fff;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.efeito2 {
    position: absolute;
    z-index: -1;
    width: 300%;
    height: 55px;
    background: linear-gradient(to left, #21d4fd, #b721ff, #21d4fd, #b721ff);
    top: 0;
    left: -100%;
    transition: all 0.4s;
}

.efeito:hover .efeito2 {
    left: 0;
}

p {
    margin: 40px 0 15px 0;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    text-align: center;
    color: #666666;
}

a {
    margin-left: 5px;
    font-size: 14px;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    color: #333333;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #6a7dfe;
}

@media (max-width: 390px) {
    #wrapper {
        margin-top: 60px;
    }

    .box {
        max-width: 310px;
        padding: 0 30px;
    }
}